*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the main-admin-page */
#main-body, #register-body, #login-body, #add-item-body{
    text-align: center;
    margin-top: 10%;
    background-color: #ffcc00;
    
}

#header-title{
    font-size: 46px;
    margin-bottom: 25px;
    padding-top: 20px;
}

#create-account-btn, #login-account-btn ,#main-add-item-btn, #main-add-category-btn{
    background-color: white;
    color: black;
    width: 80%;
    margin: 10px 0px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

#create-account-btn:hover, #login-account-btn:hover, #main-add-item-btn:hover, #main-add-category-btn:hover{
    cursor: pointer;  
    background-color: black;
    color: white;
    border-color: white;
}   

/* Styling the register/login/add-item-admin-pages */
#register, #login-btn, #add-item-btn, #add-category-btn{
    background-color: white;
    color: black;
    width: 25%;
    margin: 10px 0px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

#register:hover, #login-btn:hover, #add-item-btn:hover, #add-category-btn:hover{
    cursor: pointer;  
    background-color: black;
    color: white;
    border-color: white;
}

.register-input, .login-input, .add-item-info{
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    height: 60px;
}

/* Styling return to main page button */
#back-btn{
    background-color: black;
    color: white;
    border-color: white;
    width: 25%;
    margin: 10px 0px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

#back-btn:hover{
    cursor: pointer;  
    background-color: rgb(205, 202, 202);
    color: black;
    border-color: black; 
}