/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing-header {
    background-image: url(./assets/Background-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Banner Section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(244, 95, 40, 0.993);
    height: 9vh;
}
 
.banner div{
    display: flex;
}
 
.banner button{
    margin-right: 20px;
    background-color: rgb(91, 91, 91);
    height: 6vh;
    width: 100px;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 0px 2px white;
}
 
.banner button:hover{
    background-color: #8dd2f1;
    cursor:pointer;
}
 
.banner div{
    margin-left: 2%;
}