/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing-header {
    background-image: url(./assets/Background-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Banner Section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(244, 95, 40, 0.993);
    height: 9vh;
}

.banner div{
    display: flex;
}

.banner button{
    margin-right: 20px;
    background-color: rgb(91, 91, 91);
    height: 6vh;
    width: 100px;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 0px 2px white;
}

.banner button:hover{
    background-color: #8dd2f1;
    cursor:pointer;
}

.banner div{
    margin-left: 2%;
}

 /* Main Page Slogan */
 .slogan{
    margin: 2% 2% ;
    font-size: 26px;
}

/* Search item/category section */
#landing-header input{
    margin-left: 2%;
}

#landing-header .header-search{
    display: flex;
    height: 40px;
}

#landing-header input{
    background-color: transparent;
    border: 3px solid rgb(91, 91, 91);
    border-radius: 30px 0px 0px 30px;
    width: 15%;
    padding-left: 2%;
    border-right: 1.5px solid rgb(91, 91, 91);
    font-size: 15px;
    cursor: pointer;
}

#landing-header select{
    font-size: 15px;
    padding-left: 2%;
    border: 3px solid rgb(91, 91, 91);
    background-color: transparent;
    color: rgb(91, 91, 91);
    border-right: 1.5px solid rgb(91, 91, 91);
    width: 17%;
    cursor: pointer;
}

.header-search button{
    border-radius: 0px 50% 50% 0px;
    background-color: rgb(91, 91, 91);
    border: 3px solid rgb(91, 91, 91);
    cursor: pointer;
}

/* Sign up page styling */
#signup-body, #login-body{
    background-color: bisque;
}

#signup-header, #login-header{
    text-align-last: center;
    margin-top: 2.5%;
}

.signup-container, .login-container{
    display: flex;
    margin: 5% 15%;
    text-align-last: center;
    border: solid;
}

.signup-info, .signup-img, .login-info, .login-img{
    flex-basis: 50%;
}

#signup-img{
    width: 65%;
    border-radius: 5px;
    margin-top: 2%;
}

h3{
    margin: 2% 0%;
}

#signup-page-btn, #login-page-btn{
    width: fit-content;
    background-color: rgb(241, 158, 186);
    margin: 2%;
    border-radius: 5px;
}

#signup-page-btn:hover, #login-page-btn:hover{
    cursor: pointer;
    background-color: rgba(241, 158, 186, 0.814);
}

.input-info{
    border-radius: 2px;
}

.input-info:hover{
    border-color: rgb(241, 158, 186);
}

/* Login page */
#login-img{
    width: 50%;
    border-radius: 5px;
    margin-top: 2%;
}

.login-info{
    margin: 5% 0%;
}

/* Items Page */
.items-title{
    text-align: center;
    font-size: larger;
    color: grey;
}

.items-categories > h2{
    margin-top: 10px;
    font-size: 40px;
    color: rgb(65, 66, 79);
    margin-bottom: 5vh;
}

.items{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

.items p {
    text-align: center;
    font-size: 30px;
    color: rgba(244, 95, 40, 0.993);
}

.items div{
    padding-top: 5%;
    width: 30%;
    height: 100%;
}

.item{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.item:hover{
    transform: scale(1.2);
    transition: all .5s;
}